<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="overflow:hidden">
        <div id="div_weather" class="text-center" style="float:left;padding:14px 20px">

        </div>
        <div style="float:left">
            <img style="height:50px;width:50px" src="~/Images/logo.png" /><span style="font-size:18px;font-weight:bold">learn.com</span>
        </div>
        <div style="float:right;padding-top:10px;padding-right:140px;">
            <span style="font-size:14px;font-weight:bold">@this.User.Identity.Name</span>
            <a class="" href="/Account/SignOut">退出</a>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:140px">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/index">首页</a></li>
                    <li><a href="/area/mine">我的贴吧</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">关于</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> <a href="@Url.Action("GetAreasByPage", "Area")"> 贴吧管理 </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <header></header>
    <div class="container" style="">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer class="footer" style="background-color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4"><p>&copy; @DateTime.Now.Year - learn.com</p></div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "get",
                url: "/home/GetWeather",
                data: "",
                dataType: "json",
                success: function (data) {
                    debugger;
                    data = JSON.parse(data);
                    var city = data.results[0].location.name;
                    var text = data.results[0].now.text;
                    var temperature = data.results[0].now.temperature;
                    $("#div_weather").html(city + ": " + text + "&nbsp;" + temperature + "&#8451;");
                }
            });
        });


    </script>
    
    @*<script type="text/javascript" src="https://api.seniverse.com/v3/weather/now.json?location=深圳&ts=1443079775&ttl=30&uid=U0995D22B0&sig=[your_signature]&callback=showWeather"></script>*@
    <script type="text/javascript">
        function showWeather(data) {
            var city = data.results[0].location.name;
            var text = data.results[0].now.text;
            var temperature = data.results[0].now.temperature;
            alert(city + text + temperature);
        }
    </script>
</body>
</html>
