<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div style="padding:0 140px;overflow:hidden">
        <div style="float:left">
            <img style="height:50px;width:50px" src="~/Images/logo.png" /><span style="font-size:18px;font-weight:bold">learn.com</span>
        </div>
        <div style="float:right;padding-top:10px">
            <span style="font-size:14px;font-weight:bold">@this.User.Identity.Name</span>
            <a class="" href="/Account/SignOut">退出</a>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:140px">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home/index">首页</a></li>
                    <li><a href="/area/mine">分享专区</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">关于</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li> <a href="@Url.Action("GetAreasByPage", "Area")"> 贴吧管理 </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <header></header>
    <div class="container" style="">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer class="footer" style="background-color:#fff">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4"><p>&copy; @DateTime.Now.Year - learn.com</p></div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
