
@{
    ViewBag.Title = "添加主题";
}
@model learn.bbs.web.Models.AddAreaViewModel

<form class="container" action="/area/add" method="post">
    <div class="form-group">
        <label for="area_name">@Html.DisplayNameFor(m => m.area_name)</label>
        @*<input type="text" class="form-control" id="area_name" name="area_name"/>*@
        @Html.TextBoxFor(m=>m.area_name,new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.area_name)
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.begin_time)</label>
        @Html.TextBoxFor(m => m.begin_time, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.begin_time)
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.end_time)</label>
        @Html.TextBoxFor(m => m.end_time, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.end_time)
    </div>
    <div class="form-group">
        <label >@Html.DisplayNameFor(m=>m.appraise_type)：</label>
        <label class="radio-inline">
            <input type="radio" name="appraise_type" id="inlineRadio1" value="1"> 点赞
        </label>
        <label class="radio-inline">
            <input type="radio" name="appraise_type" id="inlineRadio2" value="2"> 评星
        </label>
        <label class="radio-inline">
            <input type="radio" name="appraise_type" id="inlineRadio3" value="3"> 无
        </label>
    </div>
    <div class="checkbox">
        <label>开启评论</label>
        <label>
            <input type="checkbox" id="is_allow_reply" name="is_allow_reply" value="1"> 
        </label>
    </div>
    <div class="form-group">
        <label>@Html.DisplayNameFor(m => m.area_status)：</label>
        <label class="radio-inline">
            <input type="radio" name="area_status" id="inlineRadio1" value="1"> 草稿
        </label>
        <label class="radio-inline">
            <input type="radio" name="area_status" id="inlineRadio2" value="2"> 发布
        </label>
    </div>

    <label>@Html.DisplayNameFor(m=>m.remark)</label>
    @Html.TextAreaFor(m=>m.remark,new { @class="form-control",rows = "5"})
    @Html.ValidationMessageFor(m=>m.remark)
    <br/>
    <button type="submit" class="btn btn-success">保存</button>
</form>

